@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "New Tegomin", serif;
}

#loading-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  overflow: hidden;
}

.box {
  position: relative;
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box h2 {
  color: rgb(202, 249, 255);
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #98f0dd, 0 0 20px #98f0dd, 0 0 40px #98f0dd,
    0 0 80px #98f0dd, 0 0 120px #98f0dd;
}

.lightbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  border-radius: 10px;
  background: white;
  z-index: 2;
  box-shadow: 0 0 10px #98f0dd, 0 0 20px #98f0dd, 0 0 40px #98f0dd,
    0 0 80px #98f0dd, 0 0 120px #98f0dd;

  animation: animatelightbar 2.5s linear infinite;
}

@keyframes animatelightbar {
  0%,
  5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(1) translateX(calc(500px - 10px));
  }
  95%,
  100% {
    transform: scaleY(0) translateX(calc(500px - 10px));
  }
}

.toplayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: animatetoplayer 5s linear infinite;
}

@keyframes animatetoplayer {
  0%,
  2.5% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(100%);
  }
  47.5%,
  50% {
    transform: translateX(100%);
  }
  50.001%,
  52.5% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-100%);
  }
  95% {
    transform: translateX(0%);
  }
  97.5%,
  50% {
    transform: translateX(0%);
  }
}

/* Home Page */

body {
  background-color: #444;
  overflow-x: hidden;
}

.about {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: white;
  z-index: 1;
}

.txt-about {
  width: 45%;
  height: 40%;
  font-size: 32px;
  position: absolute;
  right: 3%;
  top: 35%;
}

.txt-about span {
  font-size: 40px;
}

.icons {
  width: 8%;
  position: absolute;
  right: 3%;
  top: 70%;
  display: flex;
  justify-content: space-between;
}

.message {
  position: absolute;
  top: 0;
  z-index: 1;
}

#astro {
  position: absolute;
  right: 10%;
}

#nave {
  position: fixed;
  top: 45%;
  left: 18%;
  z-index: 50;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Projects */

.projects {
  width: 100vw;
  height: 100vh;
  background-color: #444;
  display: flex;
  position: relative;
}

.project-container {
  width: 70%;
  height: 60%;
  position: absolute;
  right: 0;
  top: 20%;
}

.project-container h2,
.end-chave {
  display: inline-block;
  font-size: 96px;
  margin-left: -30px;
}

.end-chave {
  margin-left: -10px !important;
}

.project-title {
  position: absolute;
  left: 5%;
  top: 9%;
  font-size: 32px;
  height: 60px;
}

.project-preview {
  background-color: #242424;
  width: 100%;
  height: 80%;
  border: 4px solid rgb(0, 255, 64);
}

.project-header {
  width: 100%;
  height: 50%;
  background-color: cornsilk;
  background: url(../img/brawl.jpg) center no-repeat;
  background-size: cover;
}

.project-header:hover{
  opacity: 0.5;
  cursor: pointer;
}

.preview-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.tech-icons-container {
  display: flex;
  justify-content: space-around ;
  align-items: center;
  margin: 3.5% 1%;
  width: 30%;
  height: 60%;
}

.tech-icons-container img{
  width: 80px;
  height: 80px;
}

.details-btn {
  position: absolute;
  top: 40%;
  right: 5%;
  width: 20%;
  height: 30%;
  border-radius: 15px;
  border: 1px solid #716C6C;
  font-size: 24px;
  background-color: transparent;
  color: white;
}
